# bin フォルダは要らない
node_modules/
*assets/img/

*license.txt
*wp-config.php
*wp-mail.php
*readme.html
*wp-settings.php
*wp-activate.php
*wp-cron.php
*wp-signup.php
*wp-admin
*wp-includes
*wp-trackback.php
*wp-blog-header.php
*wp-links-opml.php
*xmlrpc.php
*wp-comments-post.php
*wp-load.php
*wp-config-sample.php
*wp-login.php

*languages/
*plugins/
*twenty*
*upgrade/

!*/wp-content/themes/
*/wp-content/themes/*
!*/wp-content/themes/my-thenme/





# *_kanri/



*_notes/
*assets/scss/*.css

*.jpg
*.png
*.gif
*.mp4
*.env
*sitemap.xml
google*.html

!screenshot.jpg